 <%- include ('partials/head')%>
 <body>
    <header>
      <h1>welcome to the airbnb</h1>
    </header>
    <main>
      <ul>
        <% registerHomes.forEach(home=>{ %>
            <li>
              <%=home.Housename%>
              <%=home.Price%>
              <%=home.Location%>
              <%=home.Rating%>
              <img src="<%=home.HouseImage%>" alt="image of the photo">
            </li>
        <% }); %>
        <li>

        </li>
      </ul>
      <a href="/host/add-home">Home</a>
    </main>
  </body>
</html>
